{% extends 'base.html' %}

{% block body %}
    <div id="part-summary">
        <div id="part-summary-title">
            <span>Summary</span>
        </div>
        <div id="part-summary-content">
            {{ summary }}
        </div>
    </div>
    <div id="part-work-experience">
        <div id="part-work-experience-title">
            <span>Work Experience</span>
        </div>
        <div id="part-work-experience-content">
            {% for wor in work_experience %}
                <div id="work-experience-{{wor.id}}">
                    <div> Job title: {{wor.job_title}}</div>
                    <div> Employer: {{wor.employer}}</div>
                    <div> Start date: {{wor.start_date}}</div>
                    <div> End date: {{wor.end_date}}</div>
                    <div> Description: {{wor.description | linebreaks}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="part-education">
        <div id="part-education-title">
            <span>Education</span>
        </div>
        <div id="part-education-content">
            {% for edu in education %}
                <div id="education-{{edu.id}}">
                    <div> University: {{edu.university}}</div>
                    <div> Field of study: {{edu.field_of_study}}</div>
                    <div> Degree: {{edu.degree}}</div>
                    <div> Start date: {{edu.start_date}}</div>
                    <div> End date: {{edu.end_date}}</div>
                    <div> Description: {{edu.description | linebreaks}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="part-skill">
        <div id="part-skill-title">
            <span>Skill</span>
        </div>
        <div id="part-skill-content">
            {% for ski in skill %}
                <div id="skill-{{ski.id}}">
                    <div> {{ski.skill}} : Level {{ski.leverage}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="hobby">

    </div>
{% endblock %}