{% extends 'base.html' %}

{% load i18n %}

{% block body %}

<style>
        #email {
            width: 28vw;
            margin-top:1em;
            margin-bottom:1em
        }
        
        h3 {
            margin-top: 20px;
        }

        #input-email-address {
            margin-top: 40px;
        }

        .submit-myCV-style {
            color: #009999;
            border-color: #009999;
        }

        .submit-myCV-style:hover {
            color: white;
            background-color: #009999;
        }

        .submit-myCV-style:click {
            color: white;
            background-color: #009999;
        }

    </style>

<script>
        function showHiddenSection() {
            var askQuesttionSection = $('#ask-question');
            var questionAndAnswerSection = $('#question-and-answer');
            askQuesttionSection.show();
            questionAndAnswerSection.show();
        }
        function validateEmail(email) {
            var mailFormat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (email == "") {
                return "Email address input is empty!";
            }
            else if (email.match(mailFormat)) {       
            
                return "";
            }                
                return "You have entered an invalid email address!";    
            
        }
        function validateQuestion(question) {
            if (question == "") {
                return "Question input is empty!";
            }
            return "";
        }

        function postQuestionOnClick() {
            $('#post-question').click(function() {
                var question = $('#question').val();
                message = validateQuestion(question);
                if (message != "") {
                    alert(message);
                    return false;
                }
                return true;
            });
        }

        function submitEmailOnClick() {
            $('#submit-email').click(function() {
                var email = $('#email').val();
                message = validateEmail(email);
                if (message != "") {
                    alert(message);
                    return false;
                }
                return true;
            });
        }

        $(document).ready(function() {
            postQuestionOnClick();
            submitEmailOnClick();            
        });
    </script>
<div class="row" style="margin-top: 10px;">
    <div>
        <div id="input-email-address">
            <form method="get" enctype="multipart/form-data" autocomplete="off">
                <span class="text-break font-weight-dark text-dark mb-0">{% trans "Please enter your email address:" %}</span>
                <input class="form-control" type="text" id="email" name="questioner-email" value="{{ questioner_email_address }}">
                <button class="btn btn-outline-success submit-myCV-style" type="submit">Submit</button>
                {% if language == "en" %}
                <input type="hidden" name="language" value="English"/>
                {% elif language == "de" %}
                <input type="hidden" name="language" value="German"/>
                {% endif %}
            </form>

        </div>
        {% if not init %}
        <div id="ask-question" style="margin-top:30px">
            {% include 'qanda-ask-question.html' %}
        </div>
        {% endif %}
    </div>
    {% if not init %}
    <div>
        <div id="question-and-answer" style="margin-top:30px">
            {% include 'qanda-question-and-answer.html' %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}