{% load i18n %}

<style>
    .break-word {
        overflow-wrap: break-word;
        max-width: 45em;
    }
    .question-and-answer-answer {
        margin-top: 4vh;
        margin-bottom: 6vh;
    }

</style>
<script>
    function triggerPopover(questionId){
        var popoverId = "answer-popover-" + questionId;
        $('#question-' + questionId).popover({
           html : true,
           title:function(){
              return $('#' + popoverId + ' .popover_title').html();
           },
           content:function(){
              return $('#' + popoverId + ' .popover_content_wrapper').html();
           }

        });
    }

    $( document ).ready(function() {
        var items = $("#question-and-answer p");
        var numItems = items.length;
        var perPage = 7;
        items.slice(perPage).hide();
        if(numItems != 0){
            $(".pagination").pagination({
                items: numItems,
                itemsOnPage: perPage,
                cssStyle: "light-theme",
                onPageClick: function(pageNumber) {
                    var showFrom = perPage * (pageNumber - 1);
                    var showTo = showFrom + perPage;
                    items.hide().slice(showFrom, showTo).show();
                }
            });
        }

        var numberOfQuestions = "{{numberOfQuestions}}";
        for (var i = 1; i <= numberOfQuestions + 1;i++) {
            triggerPopover(i);
        }

        $('.question-button').on('click', function (e) {
            $('.question-button').not(this).popover('hide');
        });

    });


</script>

{% if numberOfQuestions > 0 %}

{% for value_pair in question_answer_list%}
<p class="break-word">
    <button data-placement="right" class="btn btn-link text-green question-button" id="question-{{value_pair.id}}"
            style="text-align:left" type="button">
        {{value_pair.id}}. {{ value_pair.question }}
        <span class="text-break font-weight-light text-dark font-italic mb-2">
            {{value_pair.questionDate}}, <b>{{value_pair.numberOfAnswers}} {% trans "answer(s)" %}</b>
        </span>
    </button>
</p>
{% endfor %}
<nav aria-label="Page navigation">
    <ul class="pagination">
    </ul>
</nav>
{% for value_pair in question_answer_list%}
<div id="answer-popover-{{value_pair.id}}">
    <div class="popover_title" style="display: none">
    </div>
    {% if value_pair.numberOfAnswers > 0 %}
        <div class="popover_content_wrapper" style="display: none">
            {% for answer in value_pair.answers %}
                <span class="answer_details">
                    <li>
                        {{answer.answer}},
                        <h6 style="font-weight-light text-dark font-italic mb-2">
                            answered on {{answer.answer_date}}
                        </h6>
                    </li>
                </span>
            {% endfor %}
        </div>
    {% else %}
        <div class="popover_content_wrapper" style="display: none">
            {% trans "No answer is found. Please wait. Thank you!" %}
        </div>
    {% endif %}
</div>
{% endfor %}

{% endif %}
